$text-color: #292d33;
$text-second-color: #828a99;
$bg-color: #fafbfc;
$bg-second-color: #f0f2f5;
$sep-color: #ebebf0;
$sep-opacity-color: rgb(235 235 240 / 20%);
$sep-second-color: #e4e4eb;
$main-color: #5c8ee6;
$white-color: #fff;
