@mixin _h1 {
  font-weight: 400;
  font-size: 80px;
  font-family: $second-font;
  font-style: normal;
  line-height: 120%;
  @include _480 {
    @include _h1-mobile;
  }
}
@mixin _h2 {
  font-weight: 400;
  font-size: 60px;
  font-family: $second-font;
  font-style: normal;
  line-height: 120%;
  @include _480 {
    @include _h2-mobile;
  }
}
@mixin _h3 {
  font-weight: 400;
  font-size: 28px;
  font-family: $main-font;
  font-style: normal;
  line-height: 160%;
  @include _480 {
    @include _h3-mobile;
  }
}
@mixin _p {
  font-weight: 400;
  font-size: 16px;
  font-family: $main-font;
  font-style: normal;
  line-height: 160%;
  @include _480 {
    @include _p-mobile;
  }
}
@mixin _bold {
  font-weight: 600;
  font-size: 16px;
  font-family: $main-font;
  font-style: normal;
  line-height: 160%;
  @include _480 {
    @include _bold-mobile;
  }
}

// mobile
@mixin _h1-mobile {
  font-weight: 400;
  font-size: 48px;
  font-family: $second-font;
  font-style: normal;
  line-height: 120%;
}
@mixin _h2-mobile {
  font-weight: 400;
  font-size: 36px;
  font-family: $second-font;
  font-style: normal;
  line-height: 120%;
}
@mixin _h3-mobile {
  font-weight: 400;
  font-size: 20px;
  font-family: $main-font;
  font-style: normal;
  line-height: 130%;
}
@mixin _p-mobile {
  font-weight: 400;
  font-size: 14px;
  font-family: $main-font;
  font-style: normal;
  line-height: 160%;
}
@mixin _bold-mobile {
  font-weight: 700;
  font-size: 14px;
  font-family: $main-font;
  font-style: normal;
  line-height: 160%;
}
